<br />
<br />
<br />
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img
        src="https://media.istockphoto.com/id/1345624336/photo/chicken-biriyani.jpg?s=612x612&w=0&k=20&c=adU_N0P-1SKMQLZu5yu7aPknfLLgbViI8XILqLP92A4="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Biryani</h5>
        <p class="card-text">
          Biryani is a mixed rice dish most popular in South Asia and was
          thought to have originated from ancient Iran. It is made with rice,
          some type of meat and spices. To cater to vegetarians, in some cases,
          it is prepared by substituting vegetables for the meat. Sometimes eggs
          and/or potatoes are added
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Pizza</h5>
        <p class="card-text">
          Pizza is a dish of Italian origin consisting of a usually round, flat
          base of leavened wheat-based dough topped with tomatoes, cheese, and
          often various other ingredients, which is then baked at a high
          temperature, traditionally in a wood-fired oven.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://www.foodandwine.com/thmb/pwFie7NRkq4SXMDJU6QKnUKlaoI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Ultimate-Veggie-Burgers-FT-Recipe-0821-5d7532c53a924a7298d2175cf1d4219f.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <p class="card-text">
          A hamburger or simply burger is a food consisting of fillings—usually
          a patty of ground meat, typically beef—placed inside a sliced bun or
          bread roll.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://www.allrecipes.com/thmb/BeV2hKihyqT4sQBI6h2fYp2KzuU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/23596-fried-mozzarella-cheese-sticks-DDMFS-4x3-842a0eaebf6b435a8d3a8b04325e13eb.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mozarella sticks</h5>
        <p class="card-text">
          Mozzarella sticks are elongated pieces of battered or breaded
          mozzarella, usually served as hors d'oeuvre.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://c.ndtvimg.com/2018-10/6n7i40g8_sharad-purnima-2018-kheer-recipe-and-benefits_625x300_23_October_18.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Kheer</h5>
        <p class="card-text">
          Kheer, also known as payasam or payesh, is a pudding/porridge popular
          in the Indian subcontinent, usually made by boiling milk, sugar or
          jaggery, and rice. It can be additionally flavored with dried fruits,
          nuts, cardamom and saffron.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://th-i.thgim.com/public/incoming/vricut/article65937264.ece/alternates/FREE_1200/Spicy%20Venue-apricot%20delight.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">apricot delight</h5>
        <p class="card-text">
          Qubani ka Meetha also known as Khubani ka meetha is a popular sweet
          dish from Hyderabadi cuisine. This tangy sweet dessert is made from
          dried apricots, sugar and nuts having a compote like jammy
          consistency.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="col">
    <div class="card">
      <img
        src="https://th-i.thgim.com/public/incoming/vricut/article65937264.ece/alternates/FREE_1200/Spicy%20Venue-apricot%20delight.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">apricot delight</h5>
        <p class="card-text">
          Qubani ka Meetha also known as Khubani ka meetha is a popular sweet
          dish from Hyderabadi cuisine. This tangy sweet dessert is made from
          dried apricots, sugar and nuts having a compote like jammy
          consistency.
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="col">
    <div class="card">
      <img
        src="https://th-i.thgim.com/public/incoming/vricut/article65937264.ece/alternates/FREE_1200/Spicy%20Venue-apricot%20delight.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">apricot delight</h5>
        <p class="card-text">
          Qubani ka Meetha also known as Khubani ka meetha is a popular sweet
          dish from Hyderabadi cuisine. This tangy sweet dessert is made from
          dried apricots, sugar and nuts having a compote like jammy
          consistency.
        </p>
      </div>
    </div>
  </div> -->
</div>
<br />
<br />
<br />
<br />
<br />
