.imageitem {
  background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.card {
  border-radius: 10%;
  border-color: black;
}
