<div class="image">
  <h1 style="color: rgb(245, 241, 241)">Welcome to Fiercy-Restaurent</h1>
  <p style="color: rgb(253, 253, 253)">
    Igniting Taste Buds, One Bite at a Time
  </p>
</div>
<!-- <div class="image">
  <h1 style="color: rgb(0, 0, 0)">Welcome to Fiercy-Restaurent</h1>
  <p style="color: rgb(0, 0, 0)">Igniting Taste Buds, One Bite at a Time</p>
</div>
<div class="image">
  <h1 style="color: rgb(0, 0, 0)">Welcome to Fiercy-Restaurent</h1>
  <p style="color: rgb(0, 0, 0)">Igniting Taste Buds, One Bite at a Time</p>
</div> -->
